body{
  background-color: #f6f9fc !important;
  /* background-color: #f5f5f9 !important; */
  /* background-color: #ffffff !important; */
  font-family: 'Poppins';
	
}


.icon {
	width: 3rem;
	height: 3rem;
  }
  
  .icon i {
	font-size: 2.25rem;
  }
  
  .icon-shape {
	display: inline-flex;
	padding: 12px;
	text-align: center;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
  }
  
  .icon-shape i {
	font-size: 1.25rem;
  }
  
/* Hero */
.hero-img{
	object-fit: cover;
}

  .daftar{
	background-color: #0496b7;
	border-bottom: 3px solid #0496b7;
	color: #fff;
  }
  .daftar a{
	color: #fff;
  }


.bg-label-primary{background-color:#e7e7ff !important;color:#0d6efd !important}
.btn-primary{color:#fff;background-color:#0d6efd;border-color:#0d6efd;}.btn-primary:hover{color:#fff !important;background-color:#0b5ed7 !important;border-color:#0b5ed7 !important;}.btn-check:focus+.btn-primary,.btn-primary:focus,.btn-primary.focus{color:#fff;background-color:#0b5ed7;border-color:#0b5ed7;transform:translateY(0);box-shadow:none}.btn-check:checked+.btn-primary,.btn-check:active+.btn-primary,.btn-primary:active,.btn-primary.active,.btn-primary.show.dropdown-toggle,.show>.btn-primary.dropdown-toggle{color:#fff !important;background-color:#595cd9 !important;border-color:#595cd9 !important}.btn-check:checked+.btn-primary:focus,.btn-check:active+.btn-primary:focus,.btn-primary:active:focus,.btn-primary.active:focus,.btn-primary.show.dropdown-toggle:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:none}.btn-primary.disabled,.btn-primary:disabled{color:#fff !important;background-color:#0d6efd !important;border-color:#0d6efd !important;box-shadow:none !important}
.btn-label-primary{color:#0d6efd;border-color:rgba(0,0,0,0);background:#e7e7ff}.btn-label-primary:hover{border-color:rgba(0,0,0,0) !important;background:#0b5ed7 !important;color:#fff !important;}.btn-label-primary:focus,.btn-label-primary.focus{color:#fff;background:#0b5ed7;box-shadow:none !important;transform:translateY(0)}.btn-label-primary:active,.btn-label-primary.active,.btn-label-primary.show.dropdown-toggle,.show>.btn-label-primary.dropdown-toggle{color:#fff !important;background-color:#595cd9 !important;border-color:rgba(0,0,0,0) !important}.btn-label-primary:active:focus,.btn-label-primary.active:focus,.btn-label-primary.show.dropdown-toggle:focus,.show>.btn-label-primary.dropdown-toggle:focus{box-shadow:none}.btn-label-primary.disabled,.btn-label-primary:disabled{color:#0d6efd !important;background-color:#e7e7ff !important;border-color:rgba(0,0,0,0) !important}.btn-outline-primary{color:#0d6efd;border-color:#0d6efd;background:rgba(0,0,0,0)}.btn-outline-primary:hover{color:#fff !important;background-color:#0b5ed7 !important;border-color:#0b5ed7 !important;box-shadow:0 .125rem .25rem 0 rgba(105,108,255,.4) !important;transform:translateY(-1px) !important}.btn-check:focus+.btn-outline-primary,.btn-outline-primary:focus{color:#fff;background-color:#0b5ed7;border-color:#0b5ed7;box-shadow:none;transform:translateY(0)}.btn-check:checked+.btn-outline-primary,.btn-check:active+.btn-outline-primary,.btn-outline-primary:active,.btn-outline-primary.active,.btn-outline-primary.dropdown-toggle.show{color:#fff !important;background-color:#595cd9 !important;border-color:#595cd9 !important}.btn-check:checked+.btn-outline-primary:focus,.btn-check:active+.btn-outline-primary:focus,.btn-outline-primary:active:focus,.btn-outline-primary.active:focus,.btn-outline-primary.dropdown-toggle.show:focus{box-shadow:none}.btn-outline-primary.disabled,.btn-outline-primary:disabled{box-shadow:none !important;color:#0d6efd !important;background-color:rgba(0,0,0,0) !important}.btn-outline-primary .badge{background:#0d6efd;border-color:#0d6efd;color:#fff}.btn-outline-primary:hover .badge,.btn-outline-primary:focus:hover .badge,.btn-outline-primary:active .badge,.btn-outline-primary.active .badge,.show>.btn-outline-primary.dropdown-toggle .badge{background:#fff;border-color:#fff;color:#0d6efd}
/* Custom Check */
.form-check-input:focus{border-color:#0d6efd;box-shadow:0 2px 4px 0 rgba(105,108,255,.4)}.form-check-input:disabled{background-color:#eceef1}.form-check-input:checked,.form-check-input[type=checkbox]:indeterminate{background-color:#0d6efd;border-color:#0d6efd;box-shadow:0 2px 4px 0 rgba(105,108,255,.4)}.custom-option.checked{border:1px solid #0d6efd}.form-switch .form-check-input:focus{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230d6efd'/%3e%3c/svg%3e")}.form-switch .form-check-input:checked{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")}
.page-item.active .page-link,.page-item.active .page-link:hover,.page-item.active .page-link:focus,.pagination li.active>a:not(.page-link),.pagination li.active>a:not(.page-link):hover,.pagination li.active>a:not(.page-link):focus{border-color:#0d6efd;background-color:#0d6efd;color:#fff;box-shadow:0 .125rem .25rem rgba(105,108,255,.4)}
.bg-label-secondary{background-color:#ebeef0 !important;color:#8592a3 !important}
.bg-label-danger{background-color:#ffe0db !important;color:#ff3e1d !important}
.bg-label-primary{background-color:#e7e7ff !important;color:#696cff !important}
.bg-label-success{background-color:#e8fadf !important;color:#71dd37 !important}
.bg-label-info{background-color:#d7f5fc !important;color:#03c3ec !important}
.bg-label-warning{background-color:#fff2d6 !important;color:#ffab00 !important}
.bg-label-light{background-color:#fff !important;color:#fcfdfd !important}
.bg-label-dark{background-color:#dcdfe1 !important;color:#233446 !important}
/* Avatar */
.avatar{position:relative;width:2.375rem;height:2.375rem;cursor:pointer}.avatar img{width:100%;height:100%}.avatar .avatar-initial{position:absolute;top:0;left:0;right:0;bottom:0;text-transform:uppercase;display:flex;align-items:center;justify-content:center;color:#fff;background-color:#8592a3;font-weight:700}.avatar.avatar-online:after,.avatar.avatar-offline:after,.avatar.avatar-away:after,.avatar.avatar-busy:after{content:"";position:absolute;bottom:0;right:3px;width:8px;height:8px;border-radius:100%;box-shadow:0 0 0 2px #fff}.avatar.avatar-online:after{background-color:#71dd37}.avatar.avatar-offline:after{background-color:#8592a3}.avatar.avatar-away:after{background-color:#ffab00}.avatar.avatar-busy:after{background-color:#ff3e1d}.pull-up{transition:all .25s ease}.pull-up:hover{transform:translateY(-4px) scale(1.02);box-shadow:0 .25rem 1rem rgba(161,172,184,.45);z-index:30;border-radius:50%}.avatar-xs{width:1.625rem;height:1.625rem}.avatar-xs .avatar-initial{font-size:.625rem}.avatar-xs.avatar-online:after,.avatar-xs.avatar-offline:after,.avatar-xs.avatar-away:after,.avatar-xs.avatar-busy:after{width:.325rem;height:.325rem;right:1px}.avatar-sm{width:2rem;height:2rem}.avatar-sm .avatar-initial{font-size:.75rem}.avatar-sm.avatar-online:after,.avatar-sm.avatar-offline:after,.avatar-sm.avatar-away:after,.avatar-sm.avatar-busy:after{width:.4rem;height:.4rem;right:2px}.avatar-md{width:3rem;height:3rem}.avatar-md .avatar-initial{font-size:1.125rem}.avatar-md.avatar-online:after,.avatar-md.avatar-offline:after,.avatar-md.avatar-away:after,.avatar-md.avatar-busy:after{width:.6rem;height:.6rem;right:4px}.avatar-lg{width:4rem;height:4rem}.avatar-lg .avatar-initial{font-size:1.5rem}.avatar-lg.avatar-online:after,.avatar-lg.avatar-offline:after,.avatar-lg.avatar-away:after,.avatar-lg.avatar-busy:after{width:.8rem;height:.8rem;right:5px}.avatar-xl{width:4.5rem;height:4.5rem}.avatar-xl .avatar-initial{font-size:1.875rem}.avatar-xl.avatar-online:after,.avatar-xl.avatar-offline:after,.avatar-xl.avatar-away:after,.avatar-xl.avatar-busy:after{width:.9rem;height:.9rem;right:6px}.avatar-group .avatar{transition:all .25s ease}.avatar-group .avatar img,.avatar-group .avatar .avatar-initial{border:2px solid #fff}.avatar-group .avatar .avatar-initial{background-color:#9da8b5}.avatar-group .avatar:hover{z-index:30;transition:all .25s ease}.avatar-group .avatar{margin-left:-0.8rem}.avatar-group .avatar:first-child{margin-left:0}.avatar-group .avatar-xs{margin-left:-0.65rem}.avatar-group .avatar-sm{margin-left:-0.75rem}.avatar-group .avatar-md{margin-left:-0.9rem}.avatar-group .avatar-lg{margin-left:-1.5rem}.avatar-group .avatar-xl{margin-left:-1.75rem}

/* Divider */
.divider{display:block;text-align:center;margin:1rem 0;overflow:hidden;white-space:nowrap}.divider .divider-text{position:relative;display:inline-block;font-size:.8rem;padding:0rem 1rem}.divider .divider-text i{font-size:1rem}.divider .divider-text:before,.divider .divider-text:after{content:"";position:absolute;top:50%;width:100vw;border-top:1px solid rgba(67,89,113,.2)}.divider .divider-text:before{right:100%}.divider .divider-text:after{left:100%}.divider.text-start .divider-text{padding-left:0}.divider.text-end .divider-text{padding-right:0}.divider.text-start-center .divider-text{left:-25%}.divider.text-end-center .divider-text{right:-25%}.divider.divider-dotted .divider-text:before,.divider.divider-dotted .divider-text:after{border-style:dotted;border-width:0 1px 1px;border-color:rgba(67,89,113,.2)}.divider.divider-dashed .divider-text:before,.divider.divider-dashed .divider-text:after{border-style:dashed;border-width:0 1px 1px;border-color:rgba(67,89,113,.2)}.divider.divider.divider-secondary .divider-text:before,.divider.divider.divider-secondary .divider-text:after{border-color:#8592a3}.divider.divider.divider-success .divider-text:before,.divider.divider.divider-success .divider-text:after{border-color:#71dd37}.divider.divider.divider-info .divider-text:before,.divider.divider.divider-info .divider-text:after{border-color:#03c3ec}.divider.divider.divider-warning .divider-text:before,.divider.divider.divider-warning .divider-text:after{border-color:#ffab00}.divider.divider.divider-danger .divider-text:before,.divider.divider.divider-danger .divider-text:after{border-color:#ff3e1d}.divider.divider.divider-dark .divider-text:before,.divider.divider.divider-dark .divider-text:after{border-color:#233446}.divider.divider.divider-gray .divider-text:before,.divider.divider.divider-gray .divider-text:after{border-color:rgba(67,89,113,.1)}
/* Form Input */
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  /* box-shadow: inset 0 -1px 0 #ddd; */
  border: 1px solid #147ee7;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
	bottom: 3rem;
	z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
	height: 32rem;
	height: 280px;
  }
  
  
  
.form-search{
	margin-top: -100px;
}
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /* Thumb Image */
  .card-img-frame img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    }

  /* Footer */
  .footer-area{
    padding: 40px 0px;
    background-color: #333;
    color: #fff;
}
.footer-area a{
    text-decoration: none;
}
.footer-area .footer-heading{
    font-size: 24px;
    color: #fff;
}
.footer-area .footer-underline{
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px 0px;
}
.copyright-area{
    padding: 14px 0px;
    background-color: #262626;
}
.copyright-area p{
    margin-bottom: 0px;
    color: #fff;
}
.copyright-area .social-media{
    text-align: end;
}
.copyright-area .social-media a{
    margin: 0px 10px;
    color: #fff;
    width: 20px;
}

.header{
  height: 150px;
}
.navbar-custom{
	height: 80px !important;
}
/* Thumb Image */
.card-img-cover{
    width: 100%;
    height: 200px;
    overflow: hidden;
    /* transition: transform .1s;  */
    /* border: 1px solid red; */
  }
  .card-img-frame img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .5s; 
    overflow: hidden;
    }
  .card-img-frame:hover img {
    transform: scale(1.2);
    }
/* NAVBAR MEMBER */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
  }
  .sidebar-nav .navbar ul {
      float: none;
      display: block;
  }
  .sidebar-nav .navbar li {
      float: none;
      display: block;
  }
  .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
  }
}

/* Custom */
/* CUSTOM BOOTSTRAP STYLE */

.btn-primary {
	color: #fff;
	background-color: #2a80f0;
	border-color: #2a80f0;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0a58ca;
	border-color: #0a53be;
}
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:disabled,
.btn-primary.disabled {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #5c636a;
	border-color: #565e64;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
	color: #fff;
	background-color: #5c636a;
	border-color: #565e64;
	box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #565e64;
	border-color: #51585e;
}
.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled,
.btn-secondary.disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-success {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}
.btn-success:hover {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
}
.btn-check:focus + .btn-success,
.btn-success:focus {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
	box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #146c43;
	border-color: #13653f;
}
.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-success:disabled,
.btn-success.disabled {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}

.btn-info {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-info:hover {
	color: #000;
	background-color: #31d2f2;
	border-color: #25cff2;
}
.btn-check:focus + .btn-info,
.btn-info:focus {
	color: #000;
	background-color: #31d2f2;
	border-color: #25cff2;
	box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-check:checked + .btn-info,
.btn-check:active + .btn-info,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
	color: #000;
	background-color: #3dd5f3;
	border-color: #25cff2;
}
.btn-check:checked + .btn-info:focus,
.btn-check:active + .btn-info:focus,
.btn-info:active:focus,
.btn-info.active:focus,
.show > .btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-info:disabled,
.btn-info.disabled {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}

.btn-warning {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-warning:hover {
	color: #000;
	background-color: #ffca2c;
	border-color: #ffc720;
}
.btn-check:focus + .btn-warning,
.btn-warning:focus {
	color: #000;
	background-color: #ffca2c;
	border-color: #ffc720;
	box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle {
	color: #000;
	background-color: #ffcd39;
	border-color: #ffc720;
}
.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-warning:disabled,
.btn-warning.disabled {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-danger {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}
.btn-danger:hover {
	color: #fff;
	background-color: #bb2d3b;
	border-color: #b02a37;
}
.btn-check:focus + .btn-danger,
.btn-danger:focus {
	color: #fff;
	background-color: #bb2d3b;
	border-color: #b02a37;
	box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #b02a37;
	border-color: #a52834;
}
.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-danger:disabled,
.btn-danger.disabled {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}

.btn-light {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-light:hover {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
}
.btn-check:focus + .btn-light,
.btn-light:focus {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
	box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light,
.btn-check:active + .btn-light,
.btn-light:active,
.btn-light.active,
.show > .btn-light.dropdown-toggle {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:disabled,
.btn-light.disabled {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-dark {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn-dark:hover {
	color: #fff;
	background-color: #1c1f23;
	border-color: #1a1e21;
}
.btn-check:focus + .btn-dark,
.btn-dark:focus {
	color: #fff;
	background-color: #1c1f23;
	border-color: #1a1e21;
	box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark,
.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1a1e21;
	border-color: #191c1f;
}
.btn-check:checked + .btn-dark:focus,
.btn-check:active + .btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-dark:disabled,
.btn-dark.disabled {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}

.btn-outline-primary {
	color: #5b99ea;
	border-color: #5b99ea;
}
.btn-outline-primary:hover {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}
.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
	color: #5b99ea;
	background-color: transparent;
}

.btn-outline-secondary {
	color: #6c757d;
	border-color: #6c757d;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
	box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
	color: #6c757d;
	background-color: transparent;
}

.btn-outline-success {
	color: #28b76b;
	border-color: #28b76b;
}
.btn-outline-success:hover {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}
.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}
.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-outline-success:disabled,
.btn-outline-success.disabled {
	color: #28b76b;
	background-color: transparent;
}

.btn-outline-info {
	color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-outline-info:hover {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-check:focus + .btn-outline-info,
.btn-outline-info:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-check:checked + .btn-outline-info,
.btn-check:active + .btn-outline-info,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.dropdown-toggle.show {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-check:checked + .btn-outline-info:focus,
.btn-check:active + .btn-outline-info:focus,
.btn-outline-info:active:focus,
.btn-outline-info.active:focus,
.btn-outline-info.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-outline-info:disabled,
.btn-outline-info.disabled {
	color: #0dcaf0;
	background-color: transparent;
}

.btn-outline-warning {
	color: #ffc107;
	border-color: #ffc107;
}
.btn-outline-warning:hover {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-outline-warning:disabled,
.btn-outline-warning.disabled {
	color: #ffc107;
	background-color: transparent;
}

.btn-outline-danger {
	color: #d26d69;
	border-color: #d26d69;
}
.btn-outline-danger:hover {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}
.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus {
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-check:checked + .btn-outline-danger,
.btn-check:active + .btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.dropdown-toggle.show {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}
.btn-check:checked + .btn-outline-danger:focus,
.btn-check:active + .btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.btn-outline-danger.active:focus,
.btn-outline-danger.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
	color: #d26d69;
	background-color: transparent;
}

.btn-outline-light {
	color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-outline-light:hover {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-check:focus + .btn-outline-light,
.btn-outline-light:focus {
	box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus,
.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light:disabled,
.btn-outline-light.disabled {
	color: #f8f9fa;
	background-color: transparent;
}

.btn-outline-dark {
	color: #212529;
	border-color: #212529;
}
.btn-outline-dark:hover {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn-check:focus + .btn-outline-dark,
.btn-outline-dark:focus {
	box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-check:checked + .btn-outline-dark,
.btn-check:active + .btn-outline-dark,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn-check:checked + .btn-outline-dark:focus,
.btn-check:active + .btn-outline-dark:focus,
.btn-outline-dark:active:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-outline-dark:disabled,
.btn-outline-dark.disabled {
	color: #212529;
	background-color: transparent;
}

.btn-link {
	font-weight: 400;
	color: #5b99ea;
	text-decoration: underline;
}
.btn-link:hover {
	color: #0a58ca;
}
.btn-link:disabled,
.btn-link.disabled {
	color: #6c757d;
}
.btn-lg,
.btn-group-lg > .btn {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm > .btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.2rem;
}



#imagePreview {
    width: 280px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
}
#avatarPreview {
	width: 90px;
    height: 90px;
    background-size: cover;
}


.card-image-cover{
	height: 150px;
	overflow: hidden;
	object-fit: cover;
}

#images{
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px;
	position: relative;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-wrap: wrap;
	border-radius: 4px;
}
figure{
	width: 45%;
}
img{
	width: 100%;
}
figcaption{
	text-align: center;
	font-size: 18px;
}

/* Avatar */

  .avatar-img-frame img {
    width: 72px;
    height: 72px;
	border-radius: 50%;
    object-fit: cover;
    transition: transform .5s; 
    overflow: hidden;
    }

	#preview{  
		max-height:256px;
		height:auto;
		width:auto;
		display:block;
		margin-left: auto;
		 margin-right: auto;
		padding:5px;
	  }
	  #img_container{
		border-radius:5px;
		margin-top:20px;
		width:auto;  
	  }


	  /* Tabs Input Home */
  a.active {
	border-bottom: 2px solid #55c57a;
  }
  

  .nav-link {
	color: rgb(110, 110, 110);
	font-weight: 500;
	/* padding: 10px; */
	padding: 10px 30px;
	

  }
  .nav-link:hover {
	color: #55c57a;
  }
  
  .nav-pills .nav-link.active {
	color: black;
	background-color: white;
	border-radius: 0.5rem 0.5rem 0 0;
	font-weight: 600;
	
  }
  
  .tab-content {
	padding-bottom: 1.3rem;
  }
  
 /* -- Remove Focus Form Bootstrap-- */
.form-control:focus{
	border-color: #a3c4bc !important;
	box-shadow: 0 0 0 0 #8ebdb1 !important;
  }
  
  .bootstrap-select button.dropdown-toggle:focus {
    outline: none !important;
}
  

	 